@font-face {
  font-family: century gothic;
  src: url('fonts/GOTHIC.TTF');
  font-weight: 400;
}
@font-face {
  font-family: century gothic;
  src: url('fonts/GOTHICB.TTF');
  font-weight: 600;
}

body {
  margin: 0;
  font-family: century gothic, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.max-w{
  max-width: 28rem;
}

.font-small {
  font-size: 12px !important;
}

.bb2{
  border-bottom: 2px solid #5792cf;
}

.footer{
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #5792cf;
  color: white;
  text-align: center;
}